body{
  background: linear-gradient(90deg, #f99704, #e9b175, #ff9900);
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #f99704, #e9b175, #ff9900);

}



.heading {
  font-size: 3rem;
  font-weight: 800;
  text-align: center;
  margin: 40px 0;
  letter-spacing: 1px;

  background: linear-gradient(
    90deg,
    #000000,
    #ff8000,
    #060000
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 4px 12px rgba(253, 253, 253, 0.15);
}

.heading span {
  font-weight: 900;
  background: linear-gradient(
    90deg,
    #e10600,
    #000000
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heading:hover {
  transform: scale(1.03);
  transition: all 0.3s ease-in-out;
}
.card {
  background: white;
  padding: 30px;
  width: 360px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.title {
  text-align: center;
  margin-bottom: 10px;
}

input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

input:focus {
  outline: none;
  border-color: #4f46e5;
}

button1 {
  padding: 10px;
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
}

button1:hover {
  background: #4338ca;
}

.loginText {
  text-align: center;
  font-size: 14px;
}

.loginText span {
  color: #4f46e5;
  cursor: pointer;
}

.btn2{
  padding: 5px;
  margin: 5px;
  width: 70px;
  height: 40px;
  cursor: pointer;
}